:root {
    --primary: #9dc08b;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--primary);
    background-position: center;
    background-size: cover;
    padding: 10px;
  }
  
  .message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .reset-page .reset-box {
    position: relative;
    width: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    padding: 30px 20px;
    flex-direction: column;
  }
  
  .reset-page .reset-box header {
    font-weight: 700;
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .reset-page .reset-box .input-box {
    position: relative;
    width: 310px;
    margin: 20px 0;
    border-bottom: 2px solid #fff;
  }
  
  .btnView,
  .btnViewConf {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .reset-page .reset-box .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .reset-page .reset-box .input-box input:focus ~ label,
  .reset-page .reset-box .input-box input:valid ~ label {
    top: -3px;
  }
  
  .reset-page .reset-box .input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 5px;
  }
  
  .reset-page .reset-box .btnReset {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
    transition: 0.2s;
    margin-top: 10px;
  }
  
  .reset-page .reset-box .btnReset:hover {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
  }
  
  .reset-page .reset-box .login-link {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
  }
  
  .reset-page .reset-box .login-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .reset-page .reset-box .login-link a:hover {
    text-decoration: underline;
  }
  
  /* Responsive */
  @media (max-width: 360px) {
    .reset-page .reset-box header {
      padding-top: 75px;
    }
  
    .reset-page .reset-box {
      width: 100%;
      height: 100vh;
      border: none;
      border-radius: 0;
      padding: 10px;
    }
  
    .reset-page .reset-box .input-box {
      width: 290px;
    }
  }
  